* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #2c3855;
    --primary-color-dark: #435681;
    --text-dark: #333333;
    --text-light: #767268;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1750px;
  }

.mx-nav{
    margin-left: 100px;
    margin-right: 100px;
}

.book-btn {
    background-color: var(--primary-color);
    color: white;
    width: 100px;
}

.book-btn:hover{
    border: 1px solid var(--primary-color-dark);
    color: var(--primary-color);
}

.nav-link:hover {
    color: var(--primary-color);
}

.nav-link:active {
    color: var(--primary-color);
}

.section__container {
    max-width: var(--max-width);
    padding: 5rem 1rem;
}

.header__container {
    padding: 1rem 1rem 5rem 1rem;
  }

.section__header {
    font-size: 2rem;
    color: var(--text-dark);
}

.header__image__container {
    min-height: 500px;
    background-image: linear-gradient(
        to right,
        rgba(44, 56, 85, 0.9),
        rgba(100, 125, 187, 0.1)
      ),
      url("./assets/cover.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header__content {
    max-width: 600px;
    padding: 5rem 2rem;
}

.header__content h1 {
    font-size: 3.5rem;
    color: var(--white);
}

.header__content p {
    color: var(--extra-light);
}

.booking__container {
    bottom: -5rem;
    transform: translateX(-50%);
    width: calc(100% - 6rem);
    padding: 3rem 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.booking__container form {
    grid-template-columns: repeat(4, 1fr);
}

.booking__container label {
    position: absolute;
    /* top: 50%; */
    left: 0;
    transform: translateY(-50%);
    /* font-size: 1.2rem; */
    font-weight: 500;
    color: var(--text-dark);
    pointer-events: none;
    transition: 0.3s;
    font-size: 0.8rem;
    top: 0;
  }

.booking__container input {
    padding: 10px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    color: var(--text-dark);
  }

  .booking__container input:focus ~ label {
    font-size: 0.8rem;
    top: 0;
  }

  .booking__container .form__group p {
    font-size: 0.8rem;
    color: var(--text-light);
  }

  .booking__container .btn {
    outline: none;
    border: none;
    color: var(--white);
    background-color: var(--primary-color);
    cursor: pointer;
    transition: 0.3s;
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

  .booking__container .btn:hover {
    background-color: var(--primary-color-dark);
  }

  .container-xxl {
    padding-top: 200px;
  }

  .about-title {
    letter-spacing: 3px;
    color: var(--primary-color-dark);
  }

  .about-content p{
    line-height: 2;
  }

  .about-imgs img{
    transition: all 0.5s ease 0s;
  }

  .about-imgs img:hover{
    transform: scale(0.9);
    transition: all 0.5s ease 0s;
  }
 
  .hotel-head {
    text-align: center;
  }

.fa {
  color: var(--primary-color-dark);
}
  #hotel {
    padding: 200px 100px 0 100px;
  }

  #hotel .card {
    width: 20rem;
  }

  #hotel h6 {
    letter-spacing: 3px;
    color: var(--primary-color-dark);
  }
  
  .carousel-item{
      height: 500px;
  }

  .reviews{
    padding: 0px 100px 200px 100px;
  }

  .review-img{
    position: relative;
    z-index: 100;
    border-radius: 500px;
  }

  .carousel-caption h5, p {
    position: relative;
    z-index: 100;
  }

  /* .carousel::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 500px;
    top: 100;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1; 
    border-radius: 30px;
  } */

  .contact {
    min-height: 40vh;
    background-color: var(--primary-color);
    padding: 50px;
    text-align: center;
}

.contact-container {
    max-width: 1000px;
    margin: 0 auto;
}

.contact-container h2 {
    font-size: 2.1rem;
    color: white;
    margin-bottom: 100px;
}

.contact-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.contact-form {
    text-align: left;
}

.contact-form h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}

.form-group {
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: rgb(0, 0, 0);
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 8px rgb(4, 4, 94);
}

button {
    display: inline-block;
    padding: 12px 24px;
    background-color:#1c202b;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s ease 0s;
}

button:hover {
    background-color: white;
    color: black;
    transition: all 0.5s ease 0s;
}

.contact-info {
    text-align: left;
    margin-left: 50px;
}

.contact-info h3 {
    font-size: 20px;
    margin-bottom: 30px;
    color: white;
}

.contact-info p {
    margin-bottom: 30px;
    color: white;
}

.contact-info i {
    margin-right: 10px;
    color: rgb(255, 255, 255);
}

  @media (width < 900px) {
    .booking__container form {
      grid-template-columns: repeat(2, 1fr);
    }

    #hotel .card {
      width: 30rem;
    }
  }
  
  @media (width < 600px) {
    .header__container {
      padding-bottom: 25rem;
    }
  
    .booking__container {
      flex-direction: column;
      bottom: -25rem;
    }
  
    .booking__container form {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media screen and (max-width:1262px) and (min-width:1135px){
    .contact-container h2 {
      font-size: 2rem;
  }

  .contact-form h3 {
      font-size: 18px;
  }

  input, textarea {
      width: 90%;
  }

  .contact-info h3 {
      font-size: 18px;
  }
  
  .contact-info p {
      font-size: 16px;
  }
  }

  @media screen and (max-width:1136px) and (min-width:925px){
    /* contact */

    .contact-container h2 {
      font-size: 1.9rem;
  }

  .contact-form h3 {
      font-size: 18px;
  }

  input, textarea {
      width: 90%;
      padding: 10px;
  }

  .contact-info h3 {
      font-size: 18px;
  }
  
  .contact-info p {
      font-size: 16px;
  }

  button {
      padding: 10px 24px;
  }
  }

  @media screen and (max-width:926px) and (min-width:805px){
    .contact-container h2 {
      font-size: 1.7rem;
  }

  .contact-form h3 {
      font-size: 16px;
  }

  input, textarea {
      width: 95%;
      padding: 10px;
  }

  .contact-info h3 {
      font-size: 16px;
  }
  
  .contact-info p {
      font-size: 13px;
  }

  button {
      padding: 10px 18px;
  }
  }

  @media screen and (max-width:806px) and (min-width: 520px){
    .contact-container h2 {
      font-size: 1.5rem;
  }

  .contact-form h3 {
      font-size: 16px;
  }

  input, textarea {
      width: 100%;
      padding: 10px;
  }

  .contact-form {
      margin-bottom: 20px;
  }

  .contact-info {
      margin-left: 0px;
  }

  .contact-info h3 {
      font-size: 16px;
  }
  
  .contact-info p {
      font-size: 13px;
  }

  button {
      padding: 10px 18px;
  }

  .contact-wrapper {
      grid-template-columns: repeat(1, 1fr);
      /* padding-left: 20px; */
  }
  }

  @media screen and (max-width:519px) and (min-width: 320px){
    .contact-container h2 {
      font-size: 1.5rem;
  }

  .contact-form h3 {
      font-size: 16px;
  }

  input, textarea {
      width: 100%;
      padding: 10px;
  }

  .contact-form {
      margin-bottom: 20px;
  }

  .contact-info {
      margin-left: 0px;
  }

  .contact-info h3 {
      font-size: 16px;
  }
  
  .contact-info p {
      font-size: 13px;
  }

  button {
      padding: 10px 18px;
  }

  .contact-wrapper {
      grid-template-columns: repeat(1, 1fr);
  }
  }